{% extends "base.html" %}
{% block title %}ZŠ a MŠ Bolatice{% endblock %}
{% block content %}
<section class="welcome" aria-labelledby="welcome-title">
  <div class="welcome-copy">
    <p class="section-kicker">Vítejte v našem příběhu</p>
    <h1 id="welcome-title">Místo, kde<br /><em>roste zvědavost.</em></h1>
    <p class="welcome-text">Od prvních barev ve školce až po velké otázky na druhém stupni. Každý den píšeme další kapitolu společně.</p>
    <a class="text-link" href="#kontakt">Poznejte nás <span>↗</span></a>
  </div>
  <div class="welcome-illustration" aria-hidden="true"><div class="sun"></div><div class="hill hill--back"></div><div class="hill hill--front"></div><div class="tree tree--one"><i></i><b></b></div><div class="tree tree--two"><i></i><b></b></div><div class="paper-plane">↗</div><span class="scribble scribble--one">?</span><span class="scribble scribble--two">✦</span></div>
</section>
{% endblock %}
